@charset "UTF-8";
/*regra charset para caso tenha problemas com a acentuação ou algum caracter*/

body {
    background-color: blanchedalmond;
    color: chocolate;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
    text-align: justify;
}

h1 {
    color: darkred;
    font-size: 2em;
    background-color: rgb(241, 196, 142);
}

h2 {
    color: rgb(190, 98, 98);
    font-size: 1.5em;
}