@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body{
  background-color: rgb(220, 120, 120);
  font-family: 'Roboto', sana-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
header{
  background-color: rgb(38, 25, 25);
  height: 10vh;
  width: 100vw;
  margin: auto;
  padding: 5px;
}
 nav ul li{
  display: inline-block;
  margin: auto;
  padding: 5px;
  font-weight: bold;
  color: white;
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: white;
  transition: 0.3ms;
}
a:hover{
  color: rgb(145, 129, 129);
}
